<!DOCTYPE html>
<html>
	<head>
		<meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>我的速运-注册</title>

		<link rel="stylesheet" type="text/css" href="css/styleloginsign.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css">

		<script  type="text/javascript" src="js/jquery.min.js"></script>
		<script  type="text/javascript" src="js/bootstrap.min.js"></script>
		<script  type="text/javascript" src="js/self/effect.js"></script>
		<script type="text/javascript" src="js/angular.min.js" ></script>

		<!--[if IE]>
    <script  type="text/javascript" src="js/html5.js"></script>
    <script  type="text/javascript" src="js/respond.min.js"></script>
    <![endif]-->
	</head>
	<body ng-app="myApp" ng-controller="myCtrl">
		<!--head-->
		<div class="loginnav">
			<nav class="navbar navbar-default">
				<div class="container">
					<div class="navbar-header">
						<a class="navbar-brand" href="#"><img src="images/icon/logo.png"></a>
						<span class="logintitle">用户注册</span>
					</div>

				</div>

			</nav>
		</div>
		<div class="container">
		<!--mainsignup-->
		<section class="mainsign">
			<div class="headnav">
								
			</div>
			
            <div class="signup">
              <div class="col-md-9 signupbox">
				<form class="form col-md-6" id="registForm" action="customer_regist" method="post">
					<div class=" form-group">
							<label for="inputaccount" class="col-sm-3 control-label"><b>*</b>手机号</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="telephone" ng-model="telephone" id="inputaccount" placeholder="请输入手机号">
							</div>
					</div>
					<div class="form-group">
							<label for="inputaccount" class="col-sm-3 control-label"><b>*</b>验证码</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" name="checkCode" id="inputaccount" placeholder="请输入验证码">
							</div>
							<div class="col-sm-3 song">
								<button class="btn btn-default" type="button" ng-click="checkCode(telephone)" ng-bind="btnMSG"></button>
							</div>
							
					</div>
					<div class="form-group">
							<label for="inputaccount" class="col-sm-3 control-label"><b>*</b>密码</label>
							<div class="col-sm-8">
								<input type="password" class="form-control" name="password" id="inputaccount" placeholder="6-16位数字或英文字母">
								<p class="text-right grey">安全强度：*****</p>
							</div>
							
					</div>
					
					<div class="form-group">
							<label for="inputaccount" class="col-sm-3 control-label"><b>*</b>确认密码</label>
							<div class="col-sm-8">
								<input type="password" class="form-control" name="repassword" id="inputaccount" placeholder="6-16位数字或英文字母">
							</div>
					</div>
					<div class="form-group">
							<label for="inputaccount" class="col-sm-3 control-label"><b>*</b>绑定邮箱</label>
							<div class="col-sm-8">
								<input type="email" class="form-control" name="email" id="inputemail" placeholder="请输入需要绑定的邮箱">
							</div>
					</div>
					<div class="form-group">							
							<div class="col-sm-offset-3 col-sm-8 song">
								<div class="checkbox">
    <label>
      <input type="checkbox"> 查看并同意<a href="#"> 《速运快递服务协议》</a>
    </label>
  </div>
								
							</div>
					</div>
					<div class="form-group signbtn">							
							<div class="col-sm-offset-3 col-sm-8 song">
								<a class="btn btn-danger" href="javascript:$('#registForm').submit();">注册</a>
							</div>
					</div>
					
					
				</form>
				
				
				
			</div>
		      <div class="col-md-3 introbox">
		      	<div class="signintro">
		      	<h5 class="redtext">注册成为速运会员，您可以享受更多的服务！</h5>
		      	<ul>
		      		<li class="list-group">积分奖励，电子运单专享特权</li>
		      		<li class="list-group">快速理赔，保价优惠</li>
		      		<li class="list-group">大陆偏远地区附加费减免</li>
		      		<li class="list-group">快件路由订阅，快件信息管理，批量下单</li>
		      		
		      	</ul>
		      	</div>
		      	
		      </div>
		</div>
		</section>
		
		</div>
		
		<!--foot-->
		<footer>
			<section class="copyright size12">
				<div class="container">
					<p class="text-center">地址：北京市昌平区建材城西路金燕龙办公楼一层 邮编：100096 电话：400-618-4000 传真：010-82935100 </p>
					<p class="text-center">京ICP备08001421号京公网安备110108007702</p>
				</div>
			</section>
		</footer>
	</body>
	<script type="text/javascript">
		var myApp = angular.module("myApp", []);
		
		myApp.controller("myCtrl", ["$scope", "$http", function($scope, $http) {
			$scope.btnMSG = "获取验证码";
			
			var active = true;
			var time = 60;
			var secondIntervel;
			
			$scope.checkCode = function(telephone) {
				if(active == false) {
					return ;
				}
				
				// 先判断手机号码是否符合规则
				var regex = /^1(3|5|7|8)\d{9}$/;
				if(regex.test(telephone)) {
					// 校验通过
					$http({
						method: 'GET',
						url: 'customer_sendSMS',
						params : {
							telephone : telephone
						}
					}).error(function(data, status, headers, config) {
						// 当响应以错误状态返回时调用
						alert("发送短信出错，请联系管理员");
					});
				} else {
					alert("手机号码非法,请重新输入");
					return ;
				}
				
				active = false;
				
				secondIntervel = setInterval(function() {
					if(time < 0) {
						$scope.btnMSG = "重新发送验证码";
						
						// 强制更新视图
						$scope.$digest();
						active = true;
						clearInterval(secondIntervel);
						time = 60;
						secondIntervel = undefined;
					} else {
						$scope.btnMSG = time + "秒后重新发送";
						// 强制更新视图
						$scope.$digest();
						time--;
					}
				}, 1000);
			}
		}]);
	</script>
</html>
